.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: #464646  ;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-top{
    display: flex;
    margin: 1% 10%;
}

.header-logo{
    margin-right: 2%;  
}

.input{
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    margin-right: 20%;
}

.header-search{
    width: 70%;
    height: 80%;
    border-radius: 30px;
    border: none;
    background-color: #f5f5f5 ;
    padding: 0 30px;
}

.header-login{
    width: 10%;
    border-color: #2a7ae4 ;
    background-color: white;
    border-radius: 10px;
    padding: 0 40px;
}

.header-login-link{
    color: #2a7ae4;
    text-decoration: none;
}

.header-login:hover{
    background-color:#eaf2fd ;
}

.header-banner{
    width: 100%;
    position: relative;
}

.banner{
    width: 100%;
}

.header-banner-text{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.header-banner-title{
    font-size: 53px;
    margin-bottom: 3%;
}

.header-banner-subtitle{
    font-size: 25px;
}

.header-button{
    border:none;
    background-color:#2a7ae4 ; 
    border-radius: 10px;
    padding: 15px;;
}

.header-button-link{
    text-decoration: none;
    color:white;

}

.header-button:hover , .form-button:hover {
    background-color: #125fc3;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 2% 10% 4% 10%;
}

.first-row , .second-row , .third-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    width: 100%;
    font-size: 35px;
    margin: 2% 0 0 1%;
}

.product-title{
    display: flex;
    width: 100%;
}

.product-link-more{
    text-decoration: none;
    width: 10%;
    display: flex;
    align-items: flex-end;
    color: #2a7ae4;
    font-weight: 600;
}

.material-symbols-outlined{
    font-size: 18px;
    font-weight: bold;
    position:unset;
    color:#2a7ae4;
}

.search{
    position: absolute;
    right: 180px;
    bottom: 14px;
    font-size: 22px;
    color:#464646
}

.product-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2% 1%;
    height: 270px;
}

.product-img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.product-price{
    font-weight: bold;
}

.product-link{
    text-decoration: none;
    color: #2a7ae4 ;
    font-weight: 600;
}

.footer{
    background-color: #eaf2fd;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.footer-logo{
    width: 10%;
}

.footer-navbar{
    padding: 10px;
}

.list-item{
list-style-type: none;
margin-bottom: 30px;
}

.nav-item{
    font-size: 20px;
    text-decoration: none;
    color: #464646  ;
}

.footer-form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form-title{
    margin: 0;
}
.form-input{
    height: 45px;
    width: 70%;
    padding: 0 5px 5px 5px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    margin: 2% 0%;
}

.form-textarea{
    height: 108px;
    padding: 5px;
    resize: none;
    margin-bottom: 5%;
}

.form-input::placeholder{
    font-size: 15px;
    padding: 5px;
}

.form-button{
    background-color: #2a7ae4;
    border: none;
    padding: 18px;
    border-radius: 10px;
    width: 25%;
    color: white;
    font-size: 18px;
}


